{% load static%}
{% csrf_token %}

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CATALOGO</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, inicial-escale=1.0">
        <link rel="stylesheet" href="{%static 'css/sttyleCatalogo.css'%}">
        
    </head>
    <body>
        <div class="grid">
            <div class="header">
                <div class="logo"></div>
                <p class="titlep">SUPERMECADO</p>
            </div>
            <div class="menu">
                <ul class="menuIND">
                    
                    <li class="Inicio b1" ><a href="{% url 'index' %}">Inicio</a></li>
                    <li class="opcion2 b1" ><a href="#">opcion2</a></li>
                    {%if user.is_authenticated%}
                    <li class="inicio b1" >{{user.first_name}}</li>
                    
                    <li class="opcion4 b1 login"  >
                        
                        <a class="login" href="{% url 'cerrar' %}">CERRAR</a></li>
                    {%else%}
                    <li class="opcion4 b1 login" >
                        <a class="login" href="{% url 'ingresar' %}">LOGIN</a></li>
                    {%endif%}
                </ul>
            </div>
            <div class="catalogo grid2">
                <div class="catalogoNAV">
                    <p class="tituloNAV">CATALOGO</p>
                    
                    <ul class="catalogoIND">
                        <li class="Inicio b1" ><a href="{% url 'catalogo' %}">Inicio</a></li>
                        <li class="opcion2 b1" href="#"><a >opcion2</a></li>
                        <li class="opcion3 b1" href="#"><a >opcion3</a></li>
                        <li class="opcion3 b1" href="#"><a >opcion3</a></li>
                    </ul>
                </div>
                <div class="catalogoPRO">
                    {% if Mensaje%}
                        <div class="container mt-2 aling-center alert alert-success" role="alert">
                        {{Mensaje}}
                        </div>
                        {% endif%}
                        {% if Error%}
                        <div class="container mt-2 aling-center alert alert-success" role="alert">
                        {{Error}}
                        </div>
                        {% endif%}
                        
                    {% for pro in mensaje%}
                        <div class="gridCard2">
                            <div class="card">
                                <img src="{%static 'css/fruta.jpg'%}">
                            </div>
                            <div class="card">
                                <p>Producto: <br>&nbsp&nbsp&nbsp&nbsp{{pro.PRO_Name}}</p>
                            </div>
                            <div class="card">
                                <p>Precio uni:<br>&nbsp&nbsp&nbsp&nbsp {{pro.PRO_Cost}}</p>
                            </div>
                            <div class="card">
                                <p>descripcion:<br>&nbsp&nbsp&nbsp&nbsp {{pro.PRO_Description}}</p>
                            </div>
                            <div class="card">
                                <p>cantidad disponible:<br>&nbsp&nbsp&nbsp&nbsp {{pro.PRO_Stock}}</p>
                            </div>
                            <div class="card">
                                <form action="{% url 'ins_listCompra' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{pro.PRO_Code}}" name="PRO_Code">
                                   
                                <input class="b1" type="submit" value="comprar" name="comprarP">
                            </form>
                            </div>
                        
                    </div>
                    {%endfor%}
                
                    
                </div>
               
                
            </div>

        </div>

    </body>
</html>
